%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-home-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to fa_icon('newspaper-o', text: 'CubeNews'), root_path, class: 'navbar-brand'

    #bs-home-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to fa_icon('user', text: 'Profile'), edit_user_registration_path
          %li
            = link_to fa_icon('sign-out', text: 'Logout'), destroy_user_session_path, method: :delete
        - else
          %li
            = link_to fa_icon('plus-circle', text: 'Sign up'), new_user_registration_path
          %li
            = link_to fa_icon('sign-in', text: 'Log in'), new_user_session_path
